:root{
--gris: hsl(227, 12%, 61%);
--Very-Dark-Blue: hsl(233, 12%, 13%);
--gris-claro: hsl(13, 100%, 96%);
--blanco: hsl(0, 0%, 98%);

--naranja: hsl(12, 88%, 59%);
--azul: hsl(228, 39%, 23%);

}

html {
    font-size: 62.5%; /* Now 10px = 1rem! */
}
  
body {    
   
    font-size: 1.6rem; /* 1.6rem = 16px (10px * 1.6) */
    max-width: 80%;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: var(--azul);
    font-weight: 700;
    margin-right: 2rem;
}
.navegacionPrincipal{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    align-items: center;
}

button{
    background-color: var(--naranja);
    border-radius: 2rem;
    border-style: none;
    padding: 0 2rem;
    height: 4rem;
    font-weight: 700;
    color: var(--blanco);
    
}

.imagenDesktop svg{
    width: 100%;
}

.intro {
    display: flex;
    justify-content: space-between;
    margin-top: 15rem;
    align-items: center;
}

.introLeft{
    width: 50%;
}

.introLeft h2{
    font-size: 6rem;
    width: 89%;
    margin: 0;
}
.introLeft p {
    width: 55%;
    line-height: 2.5rem;
    margin: 2.5rem 0;
    color:  var(--gris);
    font-weight: 700;
}


.info {
    display: flex;
}


footer {
    display: flex;
}